@import url(https://fonts.googleapis.com/css?family=Poppins);

a {
  color: black;
  text-decoration: none;
}

body {
  --main-color: #5eda12;
  color: #333333;
  /*   transition background-color: 0.5s; */
  padding: 7%;
}

.projects-title {
  font-family: "Poppins", -apple-system, "Helvetica Neue", sans-serif;
  font-size: 64px;
  text-align: center;
  /* thick underline   */
  border-bottom: 10px solid var(--main-color);
  display: inline-block;
  line-height: 0.9;
  margin-top: -20px;
}

/* .projects-title:hover {
  background-color:var(--main-color);
} */

.projects-container {
  display: grid;
  grid: auto / 1fr 1fr 1fr;
  justify-content: center;
}

.project {
  border: solid 3px var(--main-color);
  border-radius: 20px;
  padding: 30px;
  margin: 3.6%;
  max-width: 350px;
}

.project:hover {
  background-color: var(--main-color);
}

.project-image {
  width: 320px;
  margin-bottom: 30px;
}

.project-name {
  font-family: "Poppins", -apple-system, "Helvetica Neue", sans-serif;
  font-size: 24px;
  text-decoration: underline var(--main-color);
  /*   border-bottom: 2px solid var(--main-color);
  display: inline;
  line-height: 0.90; */
}

/* .project:hover .project-name{
  background-color:var(--main-color);
} */

.projects-line {
  margin-top: 50px;
}

.projects-logos {
  margin-bottom: -60px;
  width: 60%;
}

.center {
  text-align: center;
}
