@import url(https://fonts.googleapis.com/css?family=Poppins);

a {
  color: black;
  text-decoration: none;
}

body {
  --main-color: #5eda12;
  color: #333333;
  /*   transition background-color: 0.5s; */
  padding: 7%;
}

.projects-title {
  font-family: "Poppins", -apple-system, "Helvetica Neue", sans-serif;
  text-align: center;
  /* thick underline   */
  border-bottom: 7px solid var(--main-color);
  display: inline-block;
  line-height: 0.9;
  /* margin-top: 40px; */
}

.projects-header-text {
  font-size: 64px;
}

.projects-subheader-text {
  font-size: 40px;
  margin-top: 20px;
}

.winners-container {
  /* display: flex; */
}

.second-subheader {
  margin-top: 50px;
  margin-bottom: 25px;
}

.carousel-cell {
  /* height: auto; */
  margin: 10px;
  width: 30%;
}

.carousel {
  padding-bottom: 10%;
  width: 20%;
}

.carousel-cell:not(.is-selected) {
  opacity: 50%;
  filter: grayscale(60%);
}

/* .carousel-cell.is-selected {
  width: 30%;
}  */

.projects-container {
  display: grid;
  grid: auto / 1fr 1fr 1fr;
  justify-content: center;
}

@media only screen and (max-width: 1040px) {
  .projects-container {
    display: grid;
    grid: auto /  1fr 1fr;
    justify-content: center;
  }
}

.project {
  border: solid 3px var(--main-color);
  border-radius: 20px;
  padding: 30px;
  margin: 3.6%;
  background-color: white;
  /* max-width: 350px; */
}

.project-image {
  /* max-width: 350px;
  aspect-ratio: 1 / 1; */
  width: 80%;
  margin-bottom: 30px;
}

.project-name {
  font-family: "Poppins", -apple-system, "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-position: left bottom;
  background-image: linear-gradient(white 0%, var(--main-color) 0%);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  transition: all 400ms ease;
  display: inline-block;
  /* line-height: 0.9; */
}

.project:hover .project-name {
  background-size: 100% 85%;
}

.projects-line {
  margin: 50px 0;
  background-color: var(--main-color);
  border: 3.5px solid var(--main-color);
}

.projects-logos {
  margin-bottom: -60px;
  height: 3vw;
}

.logos-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-content: center;
  /* margin-left: 30%;
  margin-right: 30%; */
  gap: 2vw;
}

.center {
  text-align: center;
}
