img{width:300px;}
.home{
background-image: url("https://c4.wallpaperflare.com/wallpaper/723/668/835/jojos-bizarre-adventure-wallpaper-preview.jpg")}
.desc{
  text-align: center;}
body{color: #FFFFFF;}
body{text-align: center;}