.home {
  background-color: LavenderBlush;
  color: Blue;
  text-align: center;
}

.lw {
  font-size: 60px;
}

.line {
  background-image: url("https://thumbs.gfycat.com/AbleUnfortunateAstarte-size_restricted.gif");
  width: 100%;
  height: 40px;
  background-repeat: repeat-x;
  background-size: contain;
}

img {
  width: 70%;
}
