.home{
  background-color: #E9967A;
  background-image: url("if you want one");
}

.header{
  color: #FFFFFF;
  text-align: center;
}

p {
  text-align: center;
  color:  white;
}

.desc{
  color: #F5F5F5;
  text-align: center;
}

.img{
  text-align: center;
  width: ;
}