.home{
  background-color: #bca;
  background-image: url("if you want one");
}

.header{ !!
}

.desc{
  color:#000000;
  text-align: how you want to align text;
}

img{
  text-align: where you want to align the image;
  height:50%;
  width:;
}
