.home{
  background-color: Lavender ;
  background-image: url("if you want one");
}

.header{
  style your header!!
}

.desc{
  color: ;
  text-align: how you want to align text;
}

img{
  text-align: where you want to align the image;
  height:  100px;
  width:  the width you want;
}
